
 .bk{
    display: flex;
    background-image: url(https://images.alphacoders.com/265/thumb-1920-265693.png) ;
    background-size: cover;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}
.container1{
   display: flex;
   align-items: center;
}
.txtcentro{
    display: flex;
    color: white;
    height: 50px;
    width: 100;
}

.caixa1{
    display: flex;
    background-color: #353b41d0;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    margin-right: 80px;
}
.texto1{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 45px;
}

 .caixa2{
    display: flex;
    background-color: #353b41d0;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    margin-right: 80px;
}

.caixa3{
    display: flex;
    background-color: #353b41d0;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    margin-right: 5px;
}
.texto2{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
}

 